[submodule "themes/book"]
	path = themes/book
	url = https://github.com/WebSVG/hugo-book.git
[submodule "public"]
	path = public
	url = https://github.com/HomeSmartMesh/homesmartmesh.github.io.git
[submodule "static/models"]
	path = static/models
	url = https://github.com/HomeSmartMesh/models.git
